* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background: #161A1E; */
    /* background: #caccce; */
    transition: background-color 0.1s;
    background-color: #FAFAFA;
    color: #070707; 
    /* color: #5e5d5d; */
    font-family: BinancePlex,Arial,sans-serif!important;
}

.dark-mode {
    background-color: #161A1E;
    color: #fff !important;
}
.dark-white {
    color: #141219;
}
.dark-mode .dark-white {
    color: #fff;
}

.dark-mode .navbar-nav  {
    --bs-nav-link-color: #fff ; /* Nav-link color in dark mode */
}

.dark-mode .toggle-lists li a,
.dark-mode .log-in {
    background-color: #333;
    color: #fff !important;
}
.dark-mode .pow-btn {
    background: #36281d;
    color: #eccf14;
}
.dark-mode .range-b {
    background-color: #112822;
}
.dark-mode .range-s {
    background-color: #35151E;
}
.range-b {
    background-color: #E2FAEC;
    font-size: 12px;
}
.range-s {
    background-color: #FAEDEF;
    font-size: 12px;
}
.input-bg,
.input-bg input {
    background-color: #F2F3F5;
    color: #516271;
}
.dark-mode .input-bg,
.dark-mode .input-bg input {
    background-color: #2B3139;
    color: #fff;
}
.all-top {
    color: #516271;
}
.dark-mode .all-top {
    color: #fff;
}
.or {
    color: #070707;
}
.dark-mode .or {
    color: #fff;
}
.footer-bg {
    background-color: #fff;
}
.dark-mode .footer-bg {
    background-color: #161A1E;
}
.dark-mode .nav-item .nav-link.active.spot-border {
    background-color: #1E2026;
    border-left: 1px solid #2B313A;
    border-right: 1px solid #2B313A;
    color: #fff;
}
.dark-mode .nav-item .nav-link.active.spot-except-border {
    background-color: #1E2026;
    border-right: 1px solid #2B313A;
    color: #fff;
}

.logo-img {
    position: absolute;
}
.logo {
    font-size: 10px !important;
}
.header-section {
    position: relative;
}
.header-border {
    border-top: 1px solid #EEF0F2;
    border-bottom: 1px solid #EEF0F2;
}
.dark-mode .header-border {
    border-top: 1px solid #2B3038;
    border-bottom: 1px solid #2B3038;
}
.lg-middle-border {
    border-right: 1px solid #EEF0F2;
    border-top: 1px solid #EEF0F2;
}
.dark-mode .lg-middle-border {
    border-right: 1px solid #2b3038;
    border-top: 1px solid #2A2D35;
}
.chart-border {
    border-top: 1px solid #EEF0F2;
}
.dark-mode .chart-border{
    border-top: 1px solid #2A2D35;
}
.search-border {
    border-left: 1px solid #EEF0F2;
}
.dark-mode .search-border {
    border-left: 1px solid #2A2D35;
}
.market-border {
    border-top: 1px solid #EEF0F2;
    border-bottom: 1px solid #EEF0F2;
}
.dark-mode .market-border {
    border-top: 1px solid #2A2D35;
    border-bottom: 1px solid #2A2D35;
}
/* .footer-support li a {
    color: #516271;
} */
.footer-bgcolor {
    color: #516271 !important;
}
/* .footer-bgcolor {
    color: #333;
} */
::placeholder {
    color: #516271 !important; /* Change this to the color you want */
  }
.line-first{
    display: flex;
   align-items: center;
}

.line {
    width: 1px;
    background: #858789;
   height: 13px; 
}

.log-in {
    border: none;
}
.log-in:hover {
    color: #C9B90B !important;
}
.login {
    display: flex;
    align-items: center;
    border: none;
}

.login li a i {
    font-size: 18px;
}
.header-navlist li a:hover {
    color: #C9B90B !important;
}
a {
    /* color: rgb(209, 207, 203) !important; */
    text-transform: capitalize;
}
.navbar-toggler i {
    font-size: 30px;
    color: #4a4a4a;
}
.navbar-toggler:focus {
    outline: none;
}
.second-line a {
    font-size: 12px;
    color: #7f827a;

}
.second-line a:hover {
    color: #CFB90B !important;
}
/* ....second nav......  */
@media screen and (max-width: 978px) {
    .second-nav {
        display: none;
    }
    .green-apple {
        border: none;
    }
    .spot-second {
        display: none !important;
    }
}

.basic-style {
    color: #868E9B;
    font-family: Sansation;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.basic-style-num {
    font-family: Sansation;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

 @media screen and (max-width: 489px) {
    .count {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
 @media screen and (max-width: 444px) {
    .count {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.pow-btn {
    background: #F9F4E2;
    color: #eccf14;
    border: none;
    font-size: 12px;
    padding: 0 5px;
}
.count-range {
    background: transparent;
    border: none;
    color: rgb(198, 196, 188);
    width: 5px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #C9B90B !important;
    background-color: transparent;
}
.buy-sell-nav-pills .nav-link.active, .buy-sell-nav-pills .show>.nav-link {
    color: white !important;
}
.chart-pills li button {
    color: #7f827a;
}
.chart-pills li button:hover {
    color: #C9B90B;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: rgb(227, 225, 219);
    background-color: transparent;
    border-color: wheat;
    border-bottom: none;
}


/* .nav-link, */
.nav-link:hover  {
    color: rgb(159, 152, 152);
}

.buy {
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
    /* padding-bottom: 1px !important; */
    /* height: 5px; */
    border: none;
    height: 35px;
}
.sell {
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px;
    border: none;
}

.nav-pills .nav-link.active.select-green, .nav-pills .show>.nav-link.select-green {
    color: rgb(236, 230, 230);
    background-color: rgb(14, 203, 129);
}
.nav-pills .nav-link.active.select-red, .nav-pills .show>.nav-link.select-red {
    color: rgb(236, 230, 230);
    background-color: rgb(246, 70, 93);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /* color: rgb(255, 255, 255) !important; */
    color: #CFB90B;
}

.select {
    background: gray;
}
.footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
   width: 100%;
   height: 60px;
   font-size: 12px;
   border-top: 1px solid #26292F; 
   font-size: 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   background: #343433;

}

.nav-item .nav-link.active {
    border: none ;
}
.nav-item .nav-link.active.spot-border {
    border-top: 2px solid #F0B90B;
    border-radius: 0;
    border-left: 1px solid #EAECEF;
    border-right: 1px solid #EAECEF;
    /* background-color: #292828; */
    background-color: #FFFFFF;
    color: #333131;
}
.nav-item .nav-link.active.spot-except-border {
    border-left: none;
    border-top: 1px solid #F0B90B;
    border-radius: 0;
    border-right: 1px solid #EAECEF;
    /* background-color: #292828; */
    background-color: #FFFFFF;
    color: #333131;
}
.middle-last {
    background-color: #FFFFFF;
}
.dark-mode .middle-last {
    background-color: #1E2026;
}

.nav-tabs .nav-link {
    border: none;
}
.history {
    font-size: 15px;
    padding: 0 ;
    border: none;
    background: transparent;
}
.history:hover {

    color: #d6a511 !important;

}

.open-orders-tabs {
    border: none;
}

.limit {
    background-color: #F0F1F2 !important;
    border: none !important;
    /* font-weight: 600; */
    font-size: 15px !important;
}
.dark-mode .limit,
.dark-mode .market {
    background-color: #2A2D35 !important;
    color: #6d737e;
}
.dark-limit {
    color: #333;
}
.dark-mode .dark-limit {
    color: #fff;
}
.login-bg {
    background-color: #E6E8EA;
}
.dark-mode .login-bg {
    background-color: #2B3139;
}

.input-group-text {
    border: none;
}
.input-value:hover {
    border: 1px solid #d6a511 ;
    border-radius: 5px;
}

.nav-pills .nav-link.active.selected-limit, .nav-pills .show>.nav-link.selected-limit {
    color: #d6a511 !important;
}
.selected-limit:hover {
    color: #d6a511;
}
.nav {
    --bs-nav-link-color: rgb(159, 152, 152) !important;
    --bs-nav-link-hover-color: rgb(159, 152, 152) !important;
}

.info:hover {
    color: white !important;
}
.market {
    background-color: #F0F1F2;
    border: none;
    font-size: 15px !important;
}
.market-value:hover {
    border: none;
}

.caret-icon {
    display: grid;
    padding-left: 5px;
}
.caret-icon i {
    font-size: 7px;
}
.all-change li button{
    padding: 0 ;
    font-size: 12px;
}

.all-change .nav-link.active, .all-change .show.nav-link {
    color: #C9B90B !important;
}
.font-size {
    font-size: 11px;
}

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-height: auto;
}

.hover-select {
    background-color: transparent;
    border: none;
    color: #6D737E;
}

.btn-close  {
    color: white !important;
    background-color: rgb(255, 255, 255) !important;
}
.btn-close:hover  {
    color: white !important;
    background-color: rgb(255, 255, 255)  !important;
}
.scroll-container {
    height: 250px;
    overflow: auto;
  }
  
.selector {
  background-color: transparent;
    border: none;
    padding: 0 30px 0 0;
    font-size: 13px;
    color: #858789;
  
}
 option {
    background-color: #4b4c4e;
    color: wheat;

}
.toggle-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-lists {
    /* background: #292828 ; */
    padding: 0;
}
.offcanvas-body,
.offcanvas-header {
    padding: 0;
}
.offcanvas {
    --bs-offcanvas-bg: #FAFAFA;
}
.dark-mode .offcanvas {
    --bs-offcanvas-bg: rgb(45, 48, 52);
}
/* .toggle-lists .dropdown-item:hover{
    background: #6d737e67;
    color: #b7b9be !important;
} */


/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a9a4a4; 
    border-radius: 10px;
  }
  
.footer-font-size li a {
    font-size: 12px;
    color: #516271;
}
.footer-font-size li a:hover {
    color: #d6a511 !important;
}
/* .footer-prblm {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.carousel-inner {
    overflow: hidden;
  }
  
  .carousel-item {
    display: none;
    animation: slideRightToLeft 10s linear infinite;
  }
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .dark-avatar {
    color: #333;
    background: white;
}
.dark-mode .dark-avatar {
    color: #fff;
    background: #1E2026;
}