body {
    transition: background-color 0.5s;
    background: rgb(88, 88, 88);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.dark-mode {
    background-color: #ffffff;
    color: #211f1f;
}
