* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #161A1E;
    /* background: #caccce; */
    font-family: BinancePlex,Arial,sans-serif!important;
}
.first-header {
    gap: 8px;
}
.logo-img {
    width: 120px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #EAECEF;
    text-transform: capitalize;   
   
}
ul li a:hover {
    color: #F0B90B;
    
}
ul {
    list-style: none;
    /* display: flex; */
    gap: 1rem;
    margin-top: 15px;
    /* padding-left: 0 !important; */
}
button {
    border: none;
}

button {
    margin: 0;
    font-size: 14px !important;
    font-family: inherit;
    line-height: 20px;
}
.text:hover {
    color: #F0B90B !important;
    cursor: pointer;
}
.register:hover {
    opacity: .8;
}
.icon a i {
    color: #EAECEF;
    font-size: 17px;
    /* justify-content: flex-end; */
}
.line {
    
    border-left-width: 2px;
    border-left: 1px solid rgb(71, 77, 87);
   
}
.text-header {
    height: 48px;
}
.text-header div a {
    color: #848E9C;
    font-size: 11px;
    line-height: 30px;
    /* padding: 12px 8px; */
    display: flex;
}
.text-header div a:hover {
    color: #F0B90B;
}

.drop-icon a {
    /* padding: 0 15px; */
    color: #848E9C;

}

.footer {
     position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 12px;
    border-top: 1px solid #26292F; 
    font-size: 12px;

}
.footer a {
    font-size: 12px;
}
.footer p {
    display: contents;
}

.footer-feed  a {
font-size: 12px;
color: #a0a3a9;
padding-right: 10px;
}
.footer-feed  a:hover {
    color: #F0B90B;
}
.footer-feed  a i {
    font-size: 12px;
}

.carousel-inner {
    overflow: hidden;
  }
  
  .carousel-item {
    display: none;
    animation: slideRightToLeft 10s linear infinite;
  }
  
  
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .body-section {

    width: 100%;
  }

.pow-btn {
    background: #36321D;
    color: #CCAC16;
}
  
/* .main-line {
    min-height: 100% !important;
} */
.cursor {
    cursor: pointer;
}
.spot:hover {
    color: #F0B90B;
    cursor: pointer;
}
.info:hover {
    color: #EAECEF;
    cursor: pointer;
}

  ::placeholder {
    color: #78818E !important;
  }
  

  .form-control {
    color: rgb(209, 205, 198);
  }
  .input-group-text {
    padding-left: 0 !important;
  }
.spot-input {
    background: #2A2D35;
}
.spot-input input:focus{
    outline: none;
    border: 1px solid #F0B90B;
    color: rgb(209, 205, 198);
}

.spot-input:hover {
    border: 1px solid #F0B90B;
    border-radius: 5px;
 }
 
 .input-group  {
    width: 90%;
 }
 .nav {
    --bs-nav-link-hover-color: #F0B90B;
 }
 .nav-tabs {
    margin: 0 !important;
    gap: 0;
    border-bottom: none;
 }
 .nav-tabs li a {
    color: #9c9ea0 ;
    border: none !important;
 }
 .nav-tabs li a:hover {
    color: #F0B90B ;
    border: none !important;
 }
.nav-link:hover {
    border: none;
}
.nav-pills {
    display: flex;
    width: 100% !important;
    gap: 0;
    margin-top: 0 !important;
    transition: transform 0.3s ease-in-out; 
}
.nav-pills li a{
    color: #9c9ea0;
    padding: 5px ;
    display: inline-block;
}
.nav-pills li a:hover{
    color: #F0B90B;
}

.active {
    color: #F0B90B !important;
    background: none !important;
    border: none !important;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 10px;
    padding: 0 10px;
    cursor: pointer;

}

.caret-icon {
    display: grid;
    padding-left: 5px;
}
.caret-icon i {
    font-size: 7px;
}
.all-change li a {
    padding: 0;
}
.scroll-container {
    height: 250px;
    overflow: auto;
  }

  .upper-line {
    border-top: 2px solid #F0B90B;
  }
  .limit-section li {
padding: 8px 15px;
  }
  .bitcoin-price {
    text-decoration: underline !important;
  }

@media screen and (max-width: 960px) {
    .nav-title ul li {
        display: none;
    }
    .fa-bars {
display: block;
    }
}

@media screen and (max-width: 768px) {
    .nav-title ul li {
        display: none;
    }
    .fa-bars {
        display: flex;
    }

    
}
@media screen and (min-width: 500px) {
    .bit-price .line  {
        display: none ;

    }
    .bit-price {
        display: grid !important;
        grid-template-rows: 1fr 1fr;
        
    }
    .high-low-volume {
        display: none !important;
        grid-template-columns: 1fr 1fr;
    }
}